Parser.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. -->
<definitions targetNamespace="http://main/" name="parser" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://main/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <wsp:Policy wsu:Id="parserPortBindingPolicy" xmlns:wsrmp="http://docs.oasis-open.org/ws-rx/wsrmp/200702">
    <wsrmp:RMAssertion>
      <wsp:Policy/>
    </wsrmp:RMAssertion>
    <ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
    <wsam:Addressing/>
  </wsp:Policy>
  <types>
    <xsd:schema>
      <xsd:import namespace="http://main/" schemaLocation="Parser_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="findhotels">
    <part name="parameters" element="tns:findhotels"/>
  </message>
  <message name="findhotelsResponse">
    <part name="parameters" element="tns:findhotelsResponse"/>
  </message>
  <message name="IOException">
    <part name="fault" element="tns:IOException"/>
  </message>
  <message name="findscar">
    <part name="parameters" element="tns:findscar"/>
  </message>
  <message name="findscarResponse">
    <part name="parameters" element="tns:findscarResponse"/>
  </message>
  <message name="showhotels">
    <part name="parameters" element="tns:showhotels"/>
  </message>
  <message name="showhotelsResponse">
    <part name="parameters" element="tns:showhotelsResponse"/>
  </message>
  <message name="showcars">
    <part name="parameters" element="tns:showcars"/>
  </message>
  <message name="showcarsResponse">
    <part name="parameters" element="tns:showcarsResponse"/>
  </message>
  <message name="parsing">
    <part name="parameters" element="tns:parsing"/>
  </message>
  <message name="parsingResponse">
    <part name="parameters" element="tns:parsingResponse"/>
  </message>
  <message name="JSONException">
    <part name="fault" element="tns:JSONException"/>
  </message>
  <portType name="parser">
    <operation name="findhotels">
      <input wsam:Action="http://main/parser/findhotelsRequest" message="tns:findhotels"/>
      <output wsam:Action="http://main/parser/findhotelsResponse" message="tns:findhotelsResponse"/>
      <fault message="tns:IOException" name="IOException" wsam:Action="http://main/parser/findhotels/Fault/IOException"/>
    </operation>
    <operation name="findscar">
      <input wsam:Action="http://main/parser/findscarRequest" message="tns:findscar"/>
      <output wsam:Action="http://main/parser/findscarResponse" message="tns:findscarResponse"/>
      <fault message="tns:IOException" name="IOException" wsam:Action="http://main/parser/findscar/Fault/IOException"/>
    </operation>
    <operation name="showhotels">
      <input wsam:Action="http://main/parser/showhotelsRequest" message="tns:showhotels"/>
      <output wsam:Action="http://main/parser/showhotelsResponse" message="tns:showhotelsResponse"/>
      <fault message="tns:IOException" name="IOException" wsam:Action="http://main/parser/showhotels/Fault/IOException"/>
    </operation>
    <operation name="showcars">
      <input wsam:Action="http://main/parser/showcarsRequest" message="tns:showcars"/>
      <output wsam:Action="http://main/parser/showcarsResponse" message="tns:showcarsResponse"/>
      <fault message="tns:IOException" name="IOException" wsam:Action="http://main/parser/showcars/Fault/IOException"/>
    </operation>
    <operation name="parsing">
      <input wsam:Action="http://main/parser/parsingRequest" message="tns:parsing"/>
      <output wsam:Action="http://main/parser/parsingResponse" message="tns:parsingResponse"/>
      <fault message="tns:JSONException" name="JSONException" wsam:Action="http://main/parser/parsing/Fault/JSONException"/>
      <fault message="tns:IOException" name="IOException" wsam:Action="http://main/parser/parsing/Fault/IOException"/>
    </operation>
  </portType>
  <binding name="parserPortBinding" type="tns:parser">
    <wsp:PolicyReference URI="#parserPortBindingPolicy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="findhotels">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </fault>
    </operation>
    <operation name="findscar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </fault>
    </operation>
    <operation name="showhotels">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </fault>
    </operation>
    <operation name="showcars">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </fault>
    </operation>
    <operation name="parsing">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JSONException">
        <soap:fault name="JSONException" use="literal"/>
      </fault>
      <fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="parser">
    <port name="parserPort" binding="tns:parserPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

