src/conf/xml-resources/web-service-references/Hotels_1/wsdl/localhost_8080/webserviceProject/Hotels.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="Hotels">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/webserviceProject/Hotels?xsd=1"/>
</xsd:schema>
</types>
<message name="bookcar">
<part name="parameters" element="tns:bookcar"/>
</message>
<message name="bookcarResponse">
<part name="parameters" element="tns:bookcarResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="bookhotel">
<part name="parameters" element="tns:bookhotel"/>
</message>
<message name="bookhotelResponse">
<part name="parameters" element="tns:bookhotelResponse"/>
</message>
<message name="showHotels">
<part name="parameters" element="tns:showHotels"/>
</message>
<message name="showHotelsResponse">
<part name="parameters" element="tns:showHotelsResponse"/>
</message>
<message name="JSONException">
<part name="fault" element="tns:JSONException"/>
</message>
<message name="ShowCars">
<part name="parameters" element="tns:ShowCars"/>
</message>
<message name="ShowCarsResponse">
<part name="parameters" element="tns:ShowCarsResponse"/>
</message>
<message name="FindHotel">
<part name="parameters" element="tns:FindHotel"/>
</message>
<message name="FindHotelResponse">
<part name="parameters" element="tns:FindHotelResponse"/>
</message>
<message name="FindCar">
<part name="parameters" element="tns:FindCar"/>
</message>
<message name="FindCarResponse">
<part name="parameters" element="tns:FindCarResponse"/>
</message>
<message name="parsing">
<part name="parameters" element="tns:parsing"/>
</message>
<message name="parsingResponse">
<part name="parameters" element="tns:parsingResponse"/>
</message>
<portType name="Hotels">
<operation name="bookcar">
<input wsam:Action="http://WebService/Hotels/bookcarRequest" message="tns:bookcar"/>
<output wsam:Action="http://WebService/Hotels/bookcarResponse" message="tns:bookcarResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WebService/Hotels/bookcar/Fault/IOException"/>
</operation>
<operation name="hello">
<input wsam:Action="http://WebService/Hotels/helloRequest" message="tns:hello"/>
<output wsam:Action="http://WebService/Hotels/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="bookhotel">
<input wsam:Action="http://WebService/Hotels/bookhotelRequest" message="tns:bookhotel"/>
<output wsam:Action="http://WebService/Hotels/bookhotelResponse" message="tns:bookhotelResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WebService/Hotels/bookhotel/Fault/IOException"/>
</operation>
<operation name="showHotels">
<input wsam:Action="http://WebService/Hotels/showHotelsRequest" message="tns:showHotels"/>
<output wsam:Action="http://WebService/Hotels/showHotelsResponse" message="tns:showHotelsResponse"/>
<fault message="tns:JSONException" name="JSONException" wsam:Action="http://WebService/Hotels/showHotels/Fault/JSONException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WebService/Hotels/showHotels/Fault/IOException"/>
</operation>
<operation name="ShowCars">
<input wsam:Action="http://WebService/Hotels/ShowCarsRequest" message="tns:ShowCars"/>
<output wsam:Action="http://WebService/Hotels/ShowCarsResponse" message="tns:ShowCarsResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WebService/Hotels/ShowCars/Fault/IOException"/>
<fault message="tns:JSONException" name="JSONException" wsam:Action="http://WebService/Hotels/ShowCars/Fault/JSONException"/>
</operation>
<operation name="FindHotel">
<input wsam:Action="http://WebService/Hotels/FindHotelRequest" message="tns:FindHotel"/>
<output wsam:Action="http://WebService/Hotels/FindHotelResponse" message="tns:FindHotelResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WebService/Hotels/FindHotel/Fault/IOException"/>
</operation>
<operation name="FindCar">
<input wsam:Action="http://WebService/Hotels/FindCarRequest" message="tns:FindCar"/>
<output wsam:Action="http://WebService/Hotels/FindCarResponse" message="tns:FindCarResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WebService/Hotels/FindCar/Fault/IOException"/>
</operation>
<operation name="parsing">
<input wsam:Action="http://WebService/Hotels/parsingRequest" message="tns:parsing"/>
<output wsam:Action="http://WebService/Hotels/parsingResponse" message="tns:parsingResponse"/>
<fault message="tns:JSONException" name="JSONException" wsam:Action="http://WebService/Hotels/parsing/Fault/JSONException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WebService/Hotels/parsing/Fault/IOException"/>
</operation>
</portType>
<binding name="HotelsPortBinding" type="tns:Hotels">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="bookcar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bookhotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="showHotels">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JSONException">
<soap:fault name="JSONException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="ShowCars">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="JSONException">
<soap:fault name="JSONException" use="literal"/>
</fault>
</operation>
<operation name="FindHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="FindCar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="parsing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JSONException">
<soap:fault name="JSONException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="Hotels">
<port name="HotelsPort" binding="tns:HotelsPortBinding">
<soap:address location="http://localhost:8080/webserviceProject/Hotels"/>
</port>
</service>
</definitions>