web/WEB-INF/wsit-main.parser.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="parser" targetNamespace="http://main/" xmlns:tns="http://main/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsrm="http://docs.oasis-open.org/ws-rx/wsrmp/200702" 
 >
    <message name="parsing"/>
    <message name="parsingResponse"/>
    <message name="JSONException"/>
    <message name="IOException"/>
    <message name="findhotels"/>
    <message name="findhotelsResponse"/>
    <portType name="parser">
        <operation name="parsing">
            <input message="tns:parsing"/>
            <output message="tns:parsingResponse"/>
            <fault name="JSONException" message="tns:JSONException"/>
            <fault name="IOException" message="tns:IOException"/>
        </operation>
        <operation name="findhotels">
            <input message="tns:findhotels"/>
            <output message="tns:findhotelsResponse"/>
        </operation>
    </portType>
    <binding name="parserPortBinding" type="tns:parser">
        <wsp:PolicyReference URI="#parserPortBindingPolicy"/>
        <operation name="parsing">
            <input/>
            <output/>
            <fault name="JSONException"/>
            <fault name="IOException"/>
        </operation>
        <operation name="findhotels">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="parser">
        <port name="parserPort" binding="tns:parserPortBinding"/>
    </service>
    <wsp:Policy wsu:Id="parserPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsoma:OptimizedMimeSerialization/>
                <wsam:Addressing wsp:Optional="false"/>
                <wsrm:RMAssertion/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
