web/WEB-INF/wsdl/localhost_8080/webserviceProject/parser.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://main/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://main/">

<xs:element name="IOException" type="tns:IOException"/>

<xs:element name="JSONException" type="tns:JSONException"/>

<xs:element name="findhotels" type="tns:findhotels"/>

<xs:element name="findhotelsResponse" type="tns:findhotelsResponse"/>

<xs:element name="findscar" type="tns:findscar"/>

<xs:element name="findscarResponse" type="tns:findscarResponse"/>

<xs:element name="parsing" type="tns:parsing"/>

<xs:element name="parsingResponse" type="tns:parsingResponse"/>

<xs:element name="showcars" type="tns:showcars"/>

<xs:element name="showcarsResponse" type="tns:showcarsResponse"/>

<xs:element name="showhotels" type="tns:showhotels"/>

<xs:element name="showhotelsResponse" type="tns:showhotelsResponse"/>

<xs:complexType name="findhotels">
<xs:sequence>
<xs:element name="Id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findhotelsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showhotels">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="showhotelsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="parsing">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="parsingResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="JSONException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showcars">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="showcarsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findscar">
<xs:sequence>
<xs:element name="Id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findscarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>